* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #122b37cd;
  font-size: larger;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin: 1rem auto;
  box-shadow: 0 0 5px black;
}
.container .methods {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

button {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  width: 100px;
  height: 50px;
}

button:hover {
  background-color: transparent;
  color: white;
}
.form {
  display: none;
}
